<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un Auteur</title>
</head>
<body>
    <h1>Ajouter un Auteur</h1>
    
    <!-- Formulaire pour ajouter un auteur -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Affiche les champs du formulaire avec des balises <p> autour -->
        <button type="submit">Enregistrer</button>
    </form>

    <br>
    <a href="{% url 'author_list' %}">Retour à la liste des auteurs</a>  <!-- Lien pour revenir à la liste des auteurs -->
</body>
</html>
